body{
    background: linear-gradient(to bottom, #87CEEB, #fae0e0);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#toLoadFile{
    width: 100px;
}

#panel-continuar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);

    z-index: 1001;

    animation: aparecerPanel 0.3s ease forwards;
}

.oculto {
    display: none;
}

.panel {
    background: rgba(30, 30, 47, 0.95);

    color: white;

    padding: 30px;
    border-radius: 6px;

    width: 380px;
    max-width: 90%;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);

    text-align: center;
}

.overlay-espera {
    position: fixed; /* IMPORTANTE */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);

    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* a destacar */
.activo {
    position: fixed;
    z-index: 1001; 
}

.container-sm {
    max-width: 450px;
    width: 100%;
}

.card {
    border: none;
    border-radius: 15px; /* Bordes redondos*/
}

.botonCargar {
    position: absolute;
    left: 20px;
    top: 20px;
    /* z-index: 1000; */
}


.botonCargar label {
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8); 
}

.botonCargar label:hover {
    background-color: #f8f9fa;
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1) !important;
}